@import "./reset.css";

/* ---------------------------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
}

.clock h1 {
    font-size: 8rem;
    color: #fff;
}

.output-input{
    width: 100%;
    display: grid;
    justify-content: center;
}

.output {
    height: 52px;
    width: 100%;
    color: #fff;
    border-radius: 4px;
    /* background-color: rgb(0 0 0 / 0.2); */
    /* box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset; */
    border: 1px solid red;
    display: grid;
    justify-content: center;
    align-items: center;
}

input[type="button"]{
    width: 200px;
    height: 20px;
    font-size: 20px;
    color: #1a1d28;
}

