@import "./reset.css";

/* ---------------------------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}

body {
    background-color: var(--app-dark-bg);
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-dark-bg);
}
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

header {
    height: 56px;
    background-color: rgb(0, 0, 0, .2);
    overflow: hidden;
}

.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 40px;
}

.title h1 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 19px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline #add8e6;
}

nav ul li + li {
    margin-left: 18px;
}


.dark-mode .clock h1 {
    color: var(--app-red);
}


.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock h1 {
    display: block;
    font-size: 9rem;
    color: #fff;
    font-weight: 400;
}

.clock-text {
    font-size: 8rem;
    color: #fff;
}

.output-input{
    width: 100%;
    display: grid;
    justify-content: center;
}

.output {
    height: 52px;
    color: #fff;
    border-radius: 4px;
 
    display: grid;
    justify-content: center;
    align-items: center;
}

.output p {
    font-size: 26px;
    color: var(--app-orange);
}

input[type="text"]{
    max-width: 100px;
    padding: 11px;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(0 0 0 / 0.2); 
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset; 
}

button {
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
}

.alarm-btn {
    background-color: var(--app-blue);
   transition: all .2s ease-in;
}

.alarm-btn:hover{
    background-color: var(--app-blue-hover);
}

.clear {
    background-color: var(--app-red);
}


.clock h1{
    animation: h1 .8s ease-in;
    animation-delay: .1s;
}

@keyframes h1 {
from {
    opacity: 0;
    transform: translatey(20px)
}
to {
    opacity: 1;
    transform: translateY(0px);
}
}